
<ul class="list-unstyled">
  <% @plans_not_responded.each do |plan| %>
  <li>
    <div class="container-fluid plan-card plan-card-new">
      <div class="row">
        <div class="col-md-9">
          <a href="<%=plan_path(plan)%>">
            <div class="media">
              <% if plan.main_image.present? %>
                <%= image_tag(plan.main_image.url(:thumb), class: "media-object pull-left plan-image-thumb") %>
              <% else %>
                <%= image_tag("thumb/missing_plan.png", class: "media-object pull-left plan-image-thumb") %>
              <% end %>
              <div class="media-body plans-content ">
                <h3 class="media-heading">
<!-- <strong><%= link_to plan.name, plan_path(plan)  %></strong> -->
                  <strong><%= plan.name %></strong>
                </h3>
                <span class="lead text-muted"><%= plan.short_desc %></span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center">
          <div class="plans-content">
            <%= button_to 'Count Me In!', plan_plan_subscriptions_path(plan), params: { status: :OK }, class: "btn btn-success btn-md btn-block"  %>
            <%= button_to 'Decline', plan_plan_subscriptions_path(plan), params: { status: :KO }, class: "btn btn-danger btn-sm btn-block"  %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<br>
