<ul class="list-unstyled">
  <% @plans_ko.each do |plan| %>
  <li>
    <div class="container-fluid plan-card plan-card-refused">
      <div class="row">
        <div class="col-md-9">
          <a href="<%=plan_path(plan)%>">
            <div class="media">
<!-- <a class="pull-left" href="<%=plan_path(plan)%>"> -->
              <img alt="Plan image" class="media-object pull-left" src="http://lorempixel.com/80/80">
<!-- </a> -->
              <div class="media-body plans-content ">
                <h3 class="media-heading">
<!-- <strong><%= link_to plan.name, plan_path(plan)  %></strong> -->
                  <strong><%= plan.name %></strong>
                </h3>
                <span class="lead text-muted"><%= plan.short_desc %></span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3 text-center">
          <div class="plans-content">
            <%= button_to 'Join', plan_plan_subscription_path(plan,plan.get_subscription(current_user)),
                    method: :patch, params: { status: :OK }, class: "btn btn-success btn-md btn-block"  %>
          </div>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
<br>
