<%= render 'groups/new_group_form', group: @group%>

<br><br><br>

<div class="container">
  <div class="row ">
    <div class="col-md-12 ">
        <h1 class="plan-name text-center"><strong>Your groups</strong>
          <div class="lead text-muted">
            2 groups
          </div>
        </h1>
    </div>
  </div>

  <% @groups.each_slice(3) do |three_groups| %>

    <div class="row ">
      <div class="col-sm-2 ">

      </div>
      <div class="col-sm-2 grp-container">
        <a href="/plans?group_id=<%= three_groups[0].id.to_s %>" class="link-to-group">
          <img src="<%= image_url(three_groups[0].main_image.url(:medium)) %>" alt="Group Image" class="img-thumbnail img-circle group-list-avatar">
          <div class="grp-name"><%= three_groups[0].name %></div>
        </a>
      </div>
      <div class="col-sm-1 ">

      </div>
      <% if three_groups[1] %>
        <div class="col-sm-2 grp-container">
          <a href="/plans?group_id=<%= three_groups[1].id.to_s %> " class="link-to-group">
            <img src="<%= image_url(three_groups[1].main_image.url(:medium)) %>" alt="Group Image" class="img-thumbnail img-circle group-list-avatar">
            <div class="grp-name"><%= three_groups[1].name %></div>
          </a>
        </div>
      <% else %>
        <div class="col-sm-2 grp-container">
          <a href="#" class="link-to-group" data-toggle="modal" data-target="#new-group-modal" >
            <img id="new-group" src="<%= image_url("GRPNew.png") %>" alt="Group Image" class="img-thumbnail img-circle group-list-new">
            <div class="grp-name">Add new group</div>
          </a>
        </div>
      <% end %>
      <div class="col-sm-1 ">

      </div>

      <% if three_groups[2] %>
        <div class="col-sm-2 grp-container">
          <a href="/plans?group_id=<%= three_groups[2].id.to_s %> " class="link-to-group">
            <img src="<%= image_url(three_groups[2].main_image.url(:medium)) %>" alt="Group Image" class="img-thumbnail img-circle group-list-avatar">
            <div class="grp-name"><%= three_groups[2].name %></div>
          </a>
        </div>
      <% elsif three_groups[1] %>
        <div class="col-sm-2 grp-container">
          <a href="#" class="link-to-group" data-toggle="modal" data-target="#new-group-modal" >
            <img id="new-group" src="<%= image_url("GRPNew.png") %>" alt="Group Image" class="img-thumbnail img-circle group-list-new">
            <div class="grp-name">Add new group</div>
          </a>
        </div>
      <% else %>
        <div class="col-sm-2">

        </div>
      <% end %>

      <div class="col-sm-2 ">

      </div>
    </div>

  <% end %>

  <% if @groups.count % 3 == 0 %>

    <div class="row ">
      <div class="col-sm-2 ">

      </div>
      <div class="col-sm-2 grp-container">

      </div>
      <div class="col-sm-1 ">

      </div>
      <div class="col-sm-2 grp-container">
        <a href="#" class="link-to-group" data-toggle="modal" data-target="#new-group-modal" >
          <img id="new-group" src="<%= image_url("GRPNew.png") %>" alt="Group Image" class="img-thumbnail img-circle group-list-new">
          <div class="grp-name">Add new group</div>
        </a>
      </div>
      <div class="col-sm-1 ">

      </div>
      <div class="col-sm-2 grp-container">

      </div>
      <div class="col-sm-2 ">

      </div>
    </div>

  <% end %>

</div>
