<%= render 'groups/new_group_form', group: @group%>
<%= render 'plans/new_plan_superform', group: @group %>
<%= render 'groups/new_member_form', group: @group %>

<!-- style="background: url(&quot;<%= image_url(@group.main_image.url)%>&quot;) no-repeat center center" -->
<div class="group-block" style="background-image: url(&quot;<%= image_url(@group.main_image.url)%>&quot;)">
  <div class="group-header">
    <div class="container">
      <div class="row">
        <div id="group-info" class="col-md-10">
          <h1 class="group-name"><%= @group.name %></h1>
          <div class="lead">
            <%= @members.count%> members
          </div>
        </div>
        <div class="col-md-2">
          <a href="#" class="group-edit" data-toggle="modal" data-target="#new-group-modal" >
            <img src="<%= image_url(@group.main_image.url(:medium)) %>" alt="Group Image" class="pull-right img-thumbnail img-circle group-avatar hidden-xs hidden-sm">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="group-sub-header">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-push-9">
          <!-- <%= link_to(' Plan', new_plan_path, class: 'btn btn-info btn-block')  %> -->
          <button id= "btn-new-plan" type="button" name="button" class=" btn btn-info btn-block" data-toggle="modal" data-target="#new-plan-modal">
          <strong>Create New Plan</strong>
          </button>
        </div>
        <div class="col-md-9 col-md-pull-3">
          <ul class="nav nav-pills " role="tablist" id="myTab">
            <li class="active">
              <a href="#all" data-toggle="tab" id="all-pill">
                <span class="badge pull-right "><%= @plans_not_responded.count+@plans_ok.count+@plans_ko.count %></span>
                All plans &nbsp;
              </a>
            </li>
            <% if @plans_not_responded.count == 0 %>
              <li class="disabled">
                <a>
                  <span class="badge pull-right">0</span>
                  New &nbsp;
                </a>
              </li>
            <% else %>
              <li>
                <a href="#new" data-toggle="tab" id="new-pill">
                  <span class="badge pull-right"><%= @plans_not_responded.count%></span>
                  New &nbsp;</a></li>
            <% end %>

            <li <%= 'class=disabled' if @plans_ok.count == 0 %>><a href="#joined" data-toggle="tab" id="joined-pill">
              <span class="badge pull-right"><%= @plans_ok.count%></span>
              Attending &nbsp;</a></li>

            <li <%= 'class=disabled' if @plans_ko.count == 0 %>><a href="#refused" data-toggle="tab" id="refused-pill">
              <span class="badge pull-right"><%= @plans_ko.count%></span>
              Declined &nbsp;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div class="tab-content">

      </div>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="all">

          <% if @plans_not_responded.count > 0%>
            <p class="lead">New plans</p>
            <%= render 'plans/index/new_plans'%>
          <% end %>
          <% if @plans_ok.count > 0 %>
            <p class="lead">Plans you are attending</p>
            <%= render 'plans/index/joined_plans'%>
          <% end %>
          <% if @plans_ko.count > 0%>
            <p class="lead">Declined plans </p>
            <%= render 'plans/index/refused_plans'%>
          <% end %>
        </div>
        <div class="tab-pane fade" id="new">
          <% if @plans_not_responded.count > 0%>
            <%= render 'plans/index/new_plans'%>
          <% end %>
        </div>
        <div class="tab-pane fade" id="joined">
          <% if @plans_ok.count > 0 %>
            <%= render 'plans/index/joined_plans'%>
          <% end %>
        </div>
        <div class="tab-pane fade" id="refused">
          <% if @plans_ok.count > 0 %>
            <%= render 'plans/index/refused_plans'%>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <p class="lead">Group members
      <% if @group.user = current_user %>
        <a href="#" id= "btn-add-member"  class=" btn btn-xs btn-link pull-right" data-toggle="modal" data-target="#add-member-modal">
          <strong>Add member</strong>
        </a>
      <% end %>
      </p>
      <ul>
        <% @members.each do |member| %>
        <li>
          <small><%= member.show_name %></small>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
