<h1>Group name</h1>
<h3><%= @members.count%>
  members
</h3>
<%= link_to('Suggest plan', new_plan_path)  %>

<h4>Plans</h4>
<ul>
  <% @plans.each do |plan| %>
  <li>
    <strong><%= link_to plan.name, plan_path(plan)  %></strong>
    -
    <%= plan.short_desc %>
    <% unless PlanSubscription.exists?(user: current_user, plan: plan) %>
      <%= button_to 'Dismiss', plan_plan_subscriptions_path(plan), params: { status: :KO }  %>
      <%= button_to 'Join', plan_plan_subscriptions_path(plan), params: { status: :OK }  %>
    <% end %>
  </li>
  <% end %>
</ul>

<h4>Members</h4>
<ul>
  <% @members.each do |member| %>
  <li>
    <strong><%= member.email %></strong>
  </li>
  <% end %>
</ul>
