
<div class="group-block">
  <div class="group-header">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <img src="<%= image_url("GOTAvatar.jpg") %>" alt="Group Image" class="img-thumbnail group-avatar hidden-xs hidden-sm">
        </div>
        <div class="col-md-10 ">
          <h1>Seven Kingdoms Squad</h1>
          <div class="lead">
            <%= @members.count%> members
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="group-sub-header">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-offset-2">
          <ul class="nav nav-pills " role="tablist" id="myTab">
            <li class="active">
              <a href="#all" data-toggle="tab" id="all-pill">
                <span class="badge pull-right"><%= @plans_not_responded.count+@plans_ok.count+@plans_ko.count %></span>
                All plans &nbsp;
              </a>
            </li>
            <% if @plans_not_responded.count == 0 %>
              <li class="disabled">
                <a>
                  <span class="badge pull-right">0</span>
                  Pending &nbsp;
                </a>
              </li>
            <% else %>
              <li>
                <a href="#pending" data-toggle="tab" id="pending-pill">
                  <span class="badge pull-right"><%= @plans_not_responded.count%></span>
                  Pending &nbsp;</a></li>
            <% end %>

            <li><a href="#joined" data-toggle="tab" id="joined-pill">
              <span class="badge pull-right"><%= @plans_ok.count%></span>
              Joined &nbsp;</a></li>

            <li><a href="#refused" data-toggle="tab" id="refused-pill">
              <span class="badge pull-right"><%= @plans_ko.count%></span>
              Refused &nbsp;</a></li>
          </ul>
        </div>
        <div class="col-md-1">
          <%= link_to('New Plan', new_plan_path, class: 'btn btn-success pull-right')  %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h2>Members</h2>
      <ul>
        <% @members.each do |member| %>
        <li>
          <small><%= member.email %></small>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-10">
      <div class="tab-content">



      </div>

      <div class="tab-content">
        <div class="tab-pane fade in active" id="all">
          <% if @plans_not_responded.count > 0%>
            <%= render 'plans/index/pending_plans'%>
          <% end %>
          <%= render 'plans/index/joined_plans'%>
          <%= render 'plans/index/refused_plans'%>
        </div>
        <div class="tab-pane fade" id="pending">
          <% if @plans_not_responded.count > 0%>
            <%= render 'plans/index/pending_plans'%>
          <% end %>
        </div>
        <div class="tab-pane fade" id="joined">
          <%= render 'plans/index/joined_plans'%>
        </div>
        <div class="tab-pane fade" id="refused">
          <%= render 'plans/index/refused_plans'%>
        </div>
      </div>

    </div>
  </div>
</div>
