<%= render 'plans/new_plan_image_form', plan: @plan%>
<%= render 'plans/new_plan_long_desc_form', plan: @plan%>
<%= render 'plans/new_plan_date_form', plan: @plan, plan_date: @plan_date%>
<%= render 'plans/new_plan_location_form', plan: @plan, plan_location: @plan_location%>
<%= render 'confirm_plan_form', plan: @plan, best_date: @best_date%>

<!-- confirm-plan-modal -->


<div class="container-fluid">
  <div class="row plan-header">
    <div class="col-md-10 ">
      <a href="<%=plans_path+'?group_id='+@plan.group.id.to_s %>" class="btn btn-default plan-group-btn">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <img src="<%= image_url("GRPAvatar.jpg") %>" alt="Group Image" class="pull-right img-circle group-avatar-xs">
        Back &nbsp;
        <!-- <strong>Back to: </strong><small><em>Deadly Viper Assassination Squad</em></small> -->
      </a>
    </div>
    <div class="col-md-2 ">
      <% if current_user && (current_user.id == @plan.user.id)%>
        <div class="dropdown plan-admin-btn">
          <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Admin plan
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <%= link_to "Edit plan", edit_plan_path(@plan), tabindex: "-1",
                  role: "menuitem"  %>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header text-muted">CHANGE STATUS</li>
            <li role="presentation" class="<%='disabled' unless @plan.status != 'ACCEPTED'%>">
              <!-- <%= link_to "Confirm", plan_path(@plan, plan: {status: :ACCEPTED}), method: :patch %> -->
              <%= link_to "Confirm", "#", data: {toggle: "modal", target: "#confirm-plan-modal"} %>
            </li>
            <li role="presentation" class="<%='disabled' unless @plan.status != 'PLANNING'%>">
              <%= link_to "Reopen", plan_path(@plan, plan: {status: :PLANNING}), method: :patch %>
            </li>
            <li role="presentation" class="<%='disabled' unless @plan.status != 'CANCELED'%>">
              <!-- <a role="menuitem" tabindex="-1" href="#">Cancel</a> -->
              <%= link_to "Cancel", plan_path(@plan, plan: {status: :CANCELED}), method: :patch %>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <%= link_to "Delete plan", plan_path(@plan), method: :delete,
                  data: { confirm: "Are you sure?" }, tabindex: "-1",
                  role: "menuitem" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>





<div class="container">
  <div id="plan-subheader" class="row page-header">
      <div class="col-md-10 ">
      <div class="plan-info">
        <div class="pull-right">
          <%= render 'plans/plan_status_svg', plan: @plan%>
        </div>
        <h1 class="plan-name"><strong><%= @plan.name %></strong></h1>
        <div class="plan-description lead text-muted ">
          <%= @plan.short_desc %>
        </div>

        <div>
          <a href="#plan-when" class="text-info">
            <span class="glyphicon glyphicon-calendar"></span>
            <% if @plan.plan_dates.count == 0 %>
              No dates yet
            <% elsif @plan.status == 'ACCEPTED' %>
              <% plan_date = PlanDate.find(@plan.plan_date_id) %>
              <% end_date = plan_date.end_date.nil? ? " " : (plan_date.end_date.strftime(' - %a, %e %b %Y')) %>
              <%= plan_date.start_date.strftime('%a, %e %b %Y') + end_date %>
            <% elsif @best_date.present?  %>
              <% end_date = @best_date.end_date.nil? ? " " : (@best_date.end_date.strftime(' - %a, %e %b %Y')) %>
              <%= @best_date.start_date.strftime('%a, %e %b %Y') + end_date %>
              <!-- <%=@best_date.start_date.strftime('%A, %e %B %Y')%> -->

              <em> (not confirmed) </em>

            <% elsif @plan.plan_dates.count == 1  %>
              <% end_date = @plan.plan_dates.first.end_date.nil? ? " " : (@plan.plan_dates.first.end_date.strftime(' - %a, %e %b %Y')) %>
              <%= @plan.plan_dates.first.start_date.strftime('%a, %e %b %Y') + end_date %>
              <!-- <%= @plan.plan_dates.first.start_date.strftime('%A, %e %B %Y') %> -->
              <% if @plan.status != 'ACCEPTED' %>
                <em> (not confirmed) </em>
              <% end %>
            <% else %>
              Various dates
            <% end %>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#plan-where" class="text-info">
            <span class="glyphicon glyphicon-map-marker"></span>
            <% num_of_locations = @plan.plan_locations.count
              if num_of_locations == 0 %>
              No location yet
            <% elsif num_of_locations == 1%>
              <%= @plan.plan_locations[0].name %>
              <% if @plan.status != 'ACCEPTED' %>
                <em> (not confirmed) </em>
              <% end %>
            <% else %>
              Various locations
            <% end %>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="plans-content">
        <% if @plan_subscription  %>
          <% if @plan_subscription.status == 'OK' %>
            <!-- <span class="glyphicon glyphicon-ok-sign user-plan-status"></span> -->
            <div>
                <%= button_to 'Decline', plan_plan_subscription_path(@plan,@plan.get_subscription(current_user)), method: :patch, params: { status: :KO },
                  data: { confirm: "Are you sure?" }  , class: "btn btn-xs btn-danger"  %>
            </div>
          <% else %>
            <%= button_to 'Join', plan_plan_subscription_path(@plan,@plan.get_subscription(current_user)),
                  method: :patch, params: { status: :OK }, class: "btn btn-success btn-md btn-block"  %>

          <% end %>
        <% else %>
          <%= button_to 'Count Me In!', plan_plan_subscriptions_path(@plan), params: { status: :OK }, class: "btn btn-success btn-md btn-block"  %>
          <%= button_to 'Decline', plan_plan_subscriptions_path(@plan), params: { status: :KO }, class: "btn btn-danger btn-sm btn-block"  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">

      <div class="plan-what">
          <%= image_tag(@plan.main_image.url, class: "plan-image") if @plan.main_image.present? %>
          <% if current_user && (current_user.id == @plan.user.id)%>
            <button type="button" name="button" id ="edit-image-btn" class=" btn btn-info btn-block" data-toggle="modal" data-target="#new-image-modal">
              <% if @plan.main_image.present? %>
                Change image
              <% else %>
                Add an image
              <% end %>
            </button>
          <% end %>

          <p class="lead">
             <%= @plan.long_desc %>
             <% if current_user && (current_user.id == @plan.user.id)%>
               <% if @plan.long_desc.present? %>
                 <a href="#" data-toggle="modal" data-target="#new-long-desc-modal">
                   &nbsp;<span class="glyphicon glyphicon-pencil"></span> edit
                 </a>
               <% else %>
                 <button type="button" name="button" id ="edit-long-desc" class=" btn btn-xs btn-info" data-toggle="modal" data-target="#new-long-desc-modal">
                   Add a full description
                 </button>
               <% end %>
             <% end %>
          </p>

      </div>
      <br>
      <div id="plan-when">
        <div class="containter">
          <div class="row page-header">
            <div class="col-md-10">
              <h1>WHEN</h1>
            </div>
            <div class="col-md-2">
              <button type="button" name="button" class=" btn btn-info  pull-right" data-toggle="modal" data-target="#new-date-modal">
                Add date
              </button>
            </div>
          </div>
        </div>
          <div class="containter-flow">
              <ul>
                <% @plan.plan_dates.order(:start_date, :end_date).each do |date| %>

                    <div class="row date-row <%='date-declined' unless date.accepted_by_user?(current_user) %> ">
                      <div class="col-md-7">
                        <li>
                        <div class="lead">
                          <strong><%= date.start_date.strftime('%a, %e %b %Y') %>
                            <%= date.end_date.strftime(' - %a, %e %b %Y') unless date.end_date.nil? %>
                          </strong>
                          &nbsp;
                          <% if date == @best_date && @plan.plan_dates.count > 1  %>
                            <small>
                              <span class="most-popular" data-toggle="tooltip" data-placement="left" title="<%= date.number_of_votes %> votes">
                                Most popular
                              </span>
                            </small>
                          <% end %>


                          <p>
                            <%= if (date.all_day && date.end_date.nil? ) then "All day" end %>
                          </p>
                        </div>
                      </div>
                      <div class ="col-md-1">

                        <% if current_user && (current_user.id == @plan.user.id)%>
                          <%= link_to plan_plan_date_path(@plan, date), method: :delete,
                          data: { confirm: "Are you sure?" }, class: "delete-icon pull-right"  do %>

                            <span class="glyphicon glyphicon-trash lead"></span>

                          <% end %>

                        <% end %>
                      </div>
                      <div class ="col-md-2">
                        <% if @plan_subscription && @plan_subscription.status == 'OK' && @plan.status == 'PLANNING' %>

                          <% if date.accepted_by_user?(current_user) %>
                            <span class="glyphicon glyphicon-ok"></span> Accepted
                          <% else %>
                            <span class="glyphicon glyphicon glyphicon-remove"></span> Rejected
                          <% end %>
                        <% end %>
                      </div>
                      <div class="col-md-2">
                        <% if @plan_subscription && @plan_subscription.status == 'OK' && @plan.status == 'PLANNING' %>

                            <% if date.accepted_by_user?(current_user) %>
                              <!-- <small class="text-muted">Accepted</small> -->
                              <% plan_subscription_ok_date = date.get_subscription_ok_date(current_user) %>
                              <%= form_for(plan_subscription_ok_date, method: :delete) do |f| %>

                                <div class="Xbtn-group">

                                  <button type="submit" class="btn-ko-date btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> Reject
                                  </button>
                                  <!-- <button type="button" name="button" class= "btn btn-success  disabled">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Accept
                                  </button> -->
                                  <!-- <%= button_to 'Accept', plan_subscription_ok_dates_path,
                                      params: {plan_subscription_id: @plan_subscription.id,
                                      plan_date_id: date.id}, class: "btn btn-success btn-sm" %> -->
                                </div>
                              <% end %>

                              <!-- <%= button_to 'Decline', plan_subscription_ok_date_path(plan_subscription_ok_date),
                                  method: :delete,  class: "btn btn-warning btn-sm pull-right"%>
                              <button type="button" name="button" class= "btn btn-default btn-sm disabled">
                                Accept
                              </button> -->
                            <% else %>
                              <% plan_subscription_ok_date = date.plan_subscription_ok_dates.new %>
                              <%= form_for(plan_subscription_ok_date) do |f| %>
                                <input type="hidden" name="plan_subscription_id" value="<%=@plan_subscription.id%>">
                                <input type="hidden" name="plan_date_id" value="<%=date.id%>">

                                <div class="Xbtn-group ">
                                  <!-- <button type="button" name="button" class= "btn btn-danger  disabled">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> Reject
                                  </button> -->
                                  <button type="submit" class="btn-ok-date btn  btn-default btn-block">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Accept
                                  </button>
                                  <!-- <%= button_to 'Accept', plan_subscription_ok_dates_path,
                                      params: {plan_subscription_id: @plan_subscription.id,
                                      plan_date_id: date.id}, class: "btn btn-success btn-sm" %> -->
                                </div>
                              <% end %>
                            <% end %>



                        <% end %>


                        </li>
                     </div>

                   </div>
                <% end %>
              </ul>
          </div>
      </div>
      <br>
      <div id="plan-where">
          <div class="containter">
            <div class="row page-header">
              <div class="col-md-10">
                <h1>WHERE</h1>
              </div>
              <div class="col-md-2">
                <button type="button" name="button" class=" btn btn-info  pull-right" data-toggle="modal" data-target="#new-location-modal">
                  Add location
                </button>
              </div>
            </div>
          </div>
          <br>
          <div class="containter-flow">
              <ul>
                <% @plan.plan_locations.order(:name).each do |location| %>

                    <div class="row location-row">
                      <div class="col-md-10">
                        <li>
                        <div class="lead">
                          <strong><%= location.name %></strong>
                          <p>
                            <%= location.address %>
                          </p>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <% if current_user && (current_user.id == @plan.user.id)%>
                          <%= link_to plan_plan_location_path(@plan, location), method: :delete,
                          data: { confirm: "Are you sure?" }, class: "delete-icon lead "  do %>
                            <span class="glyphicon glyphicon-trash "></span>
                          <% end %>
                        <% end %>

                      </li>
                     </div>
                   </div>


                <% end %>
              </ul>
          </div>

      </div>
    </div>

    <div class="col-md-3">

      <p class="lead">ATTENDING</p>
      <ul>
        <% @users_joining.each do |user| %>
        <li>
          <%= user.show_name %>
        </li>
        <% end %>
      </ul>
      <p class="lead">NOT RESPONDED YET</p>
      <!-- <h3>NOT RESPONDED YET</h3> -->
      <ul>
        <% @users_not_responding.each do |user| %>
        <li>
          <%= user.show_name %>
        </li>
        <% end %>
      </ul>
      <p class="lead">DECLINING</p>
      <!-- <h3>DECLINING</h3> -->
      <ul>
        <% @users_dismissing.each do |user| %>
        <li>
          <%= user.show_name %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<br>
<br>
<br>
