<%= render 'plans/new_plan_date_form', plan: @plan, plan_date: @plan_date%>
<%= render 'plans/new_plan_location_form', plan: @plan, plan_location: @plan_location%>



<div class="container-fluid">
  <div class="row plan-header">
    <div class="col-md-10 ">
      <a href="<%=plans_path%>" class="btn btn-info plan-group-btn">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <strong>Back to: </strong><small><em>Deadly Viper Assassination Squad</em></small>
      </a>
    </div>
    <div class="col-md-2 ">
      <% if current_user && (current_user.id == @plan.user.id)%>
        <div class="dropdown plan-admin-btn">
          <button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            Admin plan
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
              <%= link_to "Edit plan", edit_plan_path(@plan), tabindex: "-1",
                  role: "menuitem"  %>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header text-muted">CHANGE STATUS</li>
            <li role="presentation" class="<%='disabled' unless @plan.status != 'ACCEPTED'%>">
              <%= link_to "Confirm", plan_path(@plan, plan: {status: :ACCEPTED}), method: :patch %>
            </li>
            <li role="presentation" class="<%='disabled' unless @plan.status != 'PLANNING'%>">
              <%= link_to "Reopen", plan_path(@plan, plan: {status: :PLANNING}), method: :patch %>
            </li>
            <li role="presentation" class="<%='disabled' unless @plan.status != 'CANCELED'%>">
              <!-- <a role="menuitem" tabindex="-1" href="#">Cancel</a> -->
              <%= link_to "Cancel", plan_path(@plan, plan: {status: :CANCELED}), method: :patch %>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <%= link_to "Delete plan", plan_path(@plan), method: :delete,
                  data: { confirm: "Are you sure?" }, tabindex: "-1",
                  role: "menuitem" %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>





<div class="container">
  <div id="plan-subheader" class="row page-header">
      <div class="col-md-10 ">
      <div class="plan-info">
        <h1 class="plan-name"><strong><%= @plan.name %></strong></h1>
        <div class="plan-description lead text-muted ">
          <%= @plan.short_desc %><em>(<%= @plan.status %>)</em>
        </div>
        <div>
          <a href="#plan-when" class="text-info">
            <span class="glyphicon glyphicon-calendar"></span>
            Date not decided
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#plan-where" class="text-info">
            <span class="glyphicon glyphicon-map-marker"></span>
            Makers Of Barcelona, Barcelona (Catalunya)
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="plans-content">
        <% if @plan_subscription  %>
          <% if @plan_subscription.status == 'OK' %>
            <span class="glyphicon glyphicon-ok-sign user-plan-status"></span>
            <div>
                <%= button_to 'Decline', plan_plan_subscription_path(@plan,@plan.get_subscription(current_user)), method: :patch, params: { status: :KO },
                  data: { confirm: "Are you sure?" }  , class: "btn btn-xs btn-danger"  %>
            </div>
          <% else %>
            <%= button_to 'Join', plan_plan_subscription_path(@plan,@plan.get_subscription(current_user)),
                  method: :patch, params: { status: :OK }, class: "btn btn-success btn-md btn-block"  %>

          <% end %>
        <% else %>
          <%= button_to 'Count Me In!', plan_plan_subscriptions_path(@plan), params: { status: :OK }, class: "btn btn-success btn-md btn-block"  %>
          <%= button_to 'Decline', plan_plan_subscriptions_path(@plan), params: { status: :KO }, class: "btn btn-danger btn-sm btn-block"  %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">

      <div class="plan-what">
          <%= image_tag(@plan.main_image.url, class: "plan-image") if @plan.main_image.present? %>

          <p class="lead">
             <%= @plan.long_desc %>
          </p>
      </div>
      <br>
      <div id="plan-when">
        <div class="containter">
          <div class="row page-header">
            <div class="col-md-10">
              <h1>WHEN</h1>
            </div>
            <div class="col-md-2">
              <button type="button" name="button" class=" btn btn-info  pull-right" data-toggle="modal" data-target="#new-date-modal">
                Add date
              </button>
            </div>
          </div>
        </div>
          <div class="containter-flow">
              <ul>
                <% @plan.plan_dates.each do |date| %>

                    <div class="row">
                      <div class="col-md-10">
                        <li>
                        <div class="lead">
                          <strong><%= date.start_date.strftime('%a, %e %b %Y') %>
                            <%= date.end_date.strftime(' - %a, %e %b %Y') unless date.end_date.nil? %>
                          </strong>
                          <p>
                            <%= if (date.all_day && date.end_date.nil? ) then "All day" end %>
                          </p>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <% if @plan_subscription %>
                          <% if date.accepted_by_user?(current_user) %>
                            <small class="text-muted">Accepted</small>
                            <% plan_subscription_ok_date = date.get_subscription_ok_date(current_user) %>
                            <%= button_to 'Decline', plan_subscription_ok_date_path(plan_subscription_ok_date),
                                method: :delete,  class: "btn btn-warning btn-sm pull-right"%>
                          <% else %>
                            <small class="text-muted">Not accepted</small>
                            <%= button_to 'Accept', plan_subscription_ok_dates_path,
                                params: {plan_subscription_id: @plan_subscription.id,
                                plan_date_id: date.id}, class: "btn btn-success btn-sm pull-right" %>
                          <% end %>
                        <% end %>
                        <% if current_user && (current_user.id == @plan.user.id)%>
                          <%= button_to 'Delete', plan_plan_date_path(@plan, date), method: :delete,
                          data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs pull-right "  %>
                        <% end %>

                        </li>
                     </div>
                   </div>
                <% end %>
              </ul>
          </div>
      </div>
      <br>
      <div id="plan-where">
          <div class="containter">
            <div class="row page-header">
              <div class="col-md-10">
                <h1>WHERE</h1>
              </div>
              <div class="col-md-2">
                <button type="button" name="button" class=" btn btn-info  pull-right" data-toggle="modal" data-target="#new-location-modal">
                  Add location
                </button>
              </div>
            </div>
          </div>
          <br>
          <div class="containter-flow">
              <ul>
                <% @plan.plan_locations.each do |location| %>

                    <div class="row">
                      <div class="col-md-10">
                        <li>
                        <div class="lead">
                          <strong><%= location.name %></strong>
                          <p>
                            <%= location.address %>
                          </p>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <% if current_user && (current_user.id == @plan.user.id)%>
                          <%= button_to 'Delete', plan_plan_location_path(@plan, location), method: :delete,
                          data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm pull-right"  %>
                        <% end %>
                        </li>
                     </div>
                   </div>


                <% end %>
              </ul>
          </div>

      </div>
    </div>

    <div class="col-md-3">

      <p class="lead">ATTENDING</p>
      <ul>
        <% @users_joining.each do |user| %>
        <li>
          <%= user.show_name %>
        </li>
        <% end %>
      </ul>
      <p class="lead">NOT RESPONDED YET</p>
      <!-- <h3>NOT RESPONDED YET</h3> -->
      <ul>
        <% @users_not_responding.each do |user| %>
        <li>
          <%= user.show_name %>
        </li>
        <% end %>
      </ul>
      <p class="lead">DECLINING</p>
      <!-- <h3>DECLINING</h3> -->
      <ul>
        <% @users_dismissing.each do |user| %>
        <li>
          <%= user.show_name %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>





<br>




<small class="text-muted ">Status:<span><%= @plan.status %></span></small>
<br>
<br>
