<h1><%= @plan.name %>
<small>
  <%= @plan.short_desc %>
</small>
</h1>
<p>
  <% plan_subscription = PlanSubscription.find_by(user: current_user, plan: @plan) %>
  <% if plan_subscription  %>
    <% if plan_subscription.status == 'OK' %>
      <%= button_to 'Dismiss', plan_plan_subscription_path(@plan,plan_subscription), method: :patch, params: { status: :KO },
        data: { confirm: "Are you sure?" }  %>
    <% else %>
      <%= button_to 'Join', plan_plan_subscription_path(@plan,plan_subscription), method: :patch, params: { status: :OK }  %>
    <% end %>
  <% else %>
    <%= button_to 'Dismiss', plan_plan_subscriptions_path(@plan), params: { status: :KO }  %>
    <%= button_to 'Join', plan_plan_subscriptions_path(@plan), params: { status: :OK }  %>
  <% end %>

</p>
<p>
  Full details: <%= @plan.long_desc %>
</p>

<h4>Dates</h4>
<ul>
  <% @plan.plan_dates.each do |date| %>
  <li>
    start_date: <%= date.start_date %>
    end_date: <%= date.end_date %>
    All_day?: <%= date.all_day %>
  </li>
  <% end %>
</ul>
<h5>Add new date</h5>
<%= render 'plans/new_plan_date_form', plan: @plan, plan_date: @plan_date%>

<br>
<h4>Locations</h4>
<ul>
  <% @plan.plan_locations.each do |location| %>
  <li>
    name: <%= location.name %>
    description: <%= location.description %>
    address: <%= location.address %>
  </li>
  <% end %>
</ul>
<h5>Add new location</h5>


<h4>Users</h4>
<h5>Users joining</h5>
<ul>
  <% @users_joining.each do |user| %>
  <li>
    <%= user.email %>
  </li>
  <% end %>
</ul>
<h5>Users not responding</h5>
<ul>
  <% @users_not_responding.each do |user| %>
  <li>
    <%= user.email %>
  </li>
  <% end %>
</ul>
<h5>Users dismissing</h5>
<ul>
  <% @users_dismissing.each do |user| %>
  <li>
    <%= user.email %>
  </li>
  <% end %>
</ul>
